body {
	font: 1em Arial, Helvetica, sans-serif;
	background-image:url(images/websitebackground.jpg);
}

h1 {
	font-size: 1.3em;
}
h2 {
	font-size: 1.0em;
}
main, header, article, aside, footer {
	border: solid 1px #ccc;
}
article, aside {
	margin-bottom: 5px;
}
main {
	padding: 1%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
header {
	padding-left: 1%;
	height: 180px;
	margin-bottom:-1px;
	background-image:url(images/FinalHeader.png);
	}
section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

footer {
	padding-left: 1%;
	background-color: #00afff;
	text-align: center;
}
.left {
	padding-left: 1%;
	background: #f8f8f8;
	width: 60%;
}
.right {
	padding-left: 1%;
	background: #f0efef;
	width: 30%
}

nav{ 
width: 100%;
}

/* NAVIGATION STYLES */
ul {
	list-style: none;
	margin-left: 0;
	display:flex;
	justify-content: center;
	border: 5px solid #00afff;
	margin-top: 0px;
	background-color:#00afff;
}

nav a {
	font-family: "Candara",  Candara, Helvetica, sans-serif;
	background-color: white;
	text-decoration: none;
	text-align: center;
	border: 1px solid #FFF;
	display:block;
	padding: 5px;
	margin-right: 10px;
}
nav a:link, a:visited {
	color: #00afff;
}
nav a:hover {
	color: Grey;
	text-decoration: none;
	background-color: #FFF;
}

@media screen and (max-width : 1553px ){
header {
	height: 100px;
}

h1 {
	font-size: 1.2em;
}
h2 {
	font-size: 1em;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.left, .right {
	width: auto;
}	
}
